# IDE files
.idea/

node_modules/
frontend/node_modules/
.venv/
__pycache__/
*.pyc
distraction_prediction/data/processed/
distraction_prediction/models/saved_models/*.pt
distraction_prediction/models/saved_models/**/*.joblib
.DS_Store
.idea/
